[project]
	description = Tempest plugin for mellanox tests
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wajdi Mousa (Wajdi-Mousa)
[access "refs/for/refs/*"]
	read = group user/Wajdi Mousa (Wajdi-Mousa)
	push = group user/Wajdi Mousa (Wajdi-Mousa)
	label-Code-Review = -2..+2 group user/Wajdi Mousa (Wajdi-Mousa)
	label-Verified = -1..+1 group user/Wajdi Mousa (Wajdi-Mousa)
	rebase = group user/Wajdi Mousa (Wajdi-Mousa)
	removeReviewer = group user/Wajdi Mousa (Wajdi-Mousa)
	submit = group user/Wajdi Mousa (Wajdi-Mousa)
[access "refs/heads/*"]
	read = group user/Wajdi Mousa (Wajdi-Mousa)
	create = group user/Wajdi Mousa (Wajdi-Mousa)
	push = +force group user/Wajdi Mousa (Wajdi-Mousa)
	pushMerge = group user/Wajdi Mousa (Wajdi-Mousa)
[access "refs/tags/*"]
	push = group user/Wajdi Mousa (Wajdi-Mousa)
	push = +force group user/Wajdi Mousa (Wajdi-Mousa)
